*{
    padding: 0;
    margin: 0;
}
body{
    background-color: dimgray;
}
.fbox{
    border: 4px solid red;
    border-radius: 10px ;
    width: 400px;
    height: 150px;
    background-color: beige;
    position: relative;
    top: 9px; 
    margin: auto;
    box-shadow:  9px 9px 9px blueviolet;

}
.param{
    text-align: center;
    padding: 9px;
    top: 5px;
    font-size: 26px;
    color: brown;
}
hr{
  padding: 1px;
}
#section{
    border: 5px solid rgb(30, 255, 0);
    width: 1509px;
    height: 600px;   
}
.box{
    display: flex;
    justify-content: space-between;
}

.item1{
    border: 5px solid red;
    border-radius: 10px;
    width: 220px;
    height: 220px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    box-shadow:  9px 9px 9px blueviolet;
  
}
.item2{
    border: 5px solid red;
    border-radius: 10px;
    width: 220px;
    height: 220px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    margin-right: 100px;
    box-shadow:  9px 9px 9px blueviolet;
}
img{
    width: 190px;
    height: 189px;
    padding: 10px;
} 
.box1{
    position: relative;
    height: 100px;
    justify-content: center;
    margin-left: 25%;
    margin-top: 100px;
    position: fixed;
    z-index: 5;
    /* box-shadow:  9px 9px 9px blueviolet; */

}
.item3{
    border: 5px solid red;
    border-radius: 10px;
    width: 400px;
    height: 90px;
    background-color: lawngreen;
    margin-left: 35%;
    box-shadow:  9px 9px 9px blueviolet;
   
}
.box2{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.item4{
    border: 5px solid red;
    border-radius: 10px;
    width: 220px;
    height: 220px;
    margin-left: 20px;
    background-color: white;
    box-shadow:  9px 9px 9px blueviolet;
   
}
.item5{
    border: 5px solid red;
    border-radius: 10px;
    width: 220px;
    height: 220px;
    margin-right: 100px;
    background-color: white;
    box-shadow:  9px 9px 9px blueviolet;
   
}
.param1{
    font-size: 26px;
    padding: 8px;
    color: brown;
}
button{
   background-color: brown;
   border-radius: 10px;
   padding: 7px;  
}
label{
    color: brown;
   
}
.section1{
    position: relative;
    border: 4px solid darkviolet;
    width: 604px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    background-color: darkgreen;
    
}
form{
    text-align: center;
    padding: 10px;
}

h2{
    text-align: center;
    padding: 15px;
}
.box3{
   display: flex;
   
}
.item6{
    background-color: rgb(255, 230, 0);
    width: 300px;
    height: 270px;
    margin: 4px;
}
.item7{
    background-color: rgb(255, 230, 0);
    width: 300px;
    height: 270px;
    margin: 4px;
}
.box4{
    background-color: rgb(255, 230, 0);
    width: 600px;
    height: 230px;
    margin: 6px;
}
.h3{
    font-size: 27px;
    text-align: center;
    padding: 15px;

}
.param2{
    text-align: center;
    padding: 10px;
}